@import '../../../utils/variables';

.setups-list-item {
  width: 195px;
  display: flex;
  flex-flow: column;
  align-items: center;
  border-radius: 23px;
  background: #ffffff;
  box-shadow:  5px 5px 10px #f7f7f7,
               -5px -5px 10px #ffffff;
  @include transition(0.3s, ease);

  &:hover {
    box-shadow:  5px 5px 10px #e6e6e6,
                 -5px -5px 10px #ffffff;
  }

  &__header {
    color: $dark-blue;
  }

  &__stack {
    margin: 0;
    list-style-type: none;
    padding-inline-start: 0;

    & li {
      margin-bottom: 4px;

      & img {
        width: 15px;
        margin-right: 10px;
      }
    }
  }

  &__link {
    margin: 10px 0;
    text-decoration: none;
    color: $dark-gray;

    &:hover {
      color: $black;
      text-decoration: underline;
    }
  }
}
