@import '../../utils/scss/variables';
@import '../../utils/scss/mixins';

.button {
  height: 38px;
  padding: 4px 15px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5715;
  white-space: nowrap;
  text-align: center;
  touch-action: manipulation;
  cursor: pointer;
  border: none;
  background-color: transparent;
  @include transition(0.3s, ease-in-out);

  &__icon {
    width: 15px;
    object-fit: cover;
    margin-right: 7px;
  }

  &__text {
    font-size: 14px;
    text-transform: uppercase;
  }

  &_filled {
    @extend .button;

    &.button_white {
      background-color: white;
      color: $purple;

      &:hover {
        color: $purple-dark;
      }

      & .button__icon {
        fill: $purple;

        &:hover {
          fill: $purple-dark;
        }
      }
    }

    &.button_purple {
      background: $purple;
      color: $white;

      &:hover {
        color: $light-gray;
      }

      & .button__icon {
        fill: $white;

        &:hover {
          fill: $light-gray;
        }
      }
    }

    &.button_blue {
      background: $blue-light;
      color: $white;

      &:hover {
        color: $light-gray;
      }

      & .button__icon {
        fill: $white;

        &:hover {
          fill: $light-gray;
        }
      }
    }
  }

  // Button link style
  &_link {
    @extend .button;

    &.button_white {
      color: $white;

      &:hover {
        color: $blue-light;
      }

      & .button__icon {
        fill: $white;

        &:hover {
          fill: $light-gray;
        }
      }
    }

    &.button_purple {
      color: $purple;

      &:hover {
        color: $black;
      }

      & .button__icon {
        fill: $purple;

        &:hover {
          fill: $black;
        }
      }
    }

    &.button_blue {
      color: $blue-light;

      &:hover {
        color: $blue;
      }

      & .button__icon {
        fill: $blue-light;

        &:hover {
          fill: $blue;
        }
      }
    }
  }
}
