@import "../../utils/variables";

.contribution {
  width: 250px;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 15px;
  border-radius: 23px;
  box-shadow: 5px 5px 10px #f7f7f7,
            -5px -5px 10px #ffffff;
  @include transition(0.3s, ease);

  &:hover {
    box-shadow: 5px 5px 10px #e6e6e6,
              -5px -5px 10px #ffffff;
  }

  &__title {
    margin-top: 0;
    text-decoration: none;

    &:visited {
      color: $dark-blue;
    }
  }

  &__icon {
    width: 90px;
  }

  &__message {
    color: $black;
    padding: 0 10px;
    text-align: center;
  }
}
