@import '../../utils/variables';

.person-table-item {
  &:hover {
    background-color: $light-gray;
  }

  & td:last-child {
    text-align: center;
    cursor: pointer;
    font-weight: 300;
    font-size: 30px;
    padding: 0;

    &:hover {
      font-weight: 500;
    }
  }
}
