@mixin transition($duration, $timing) {
    -webkit-transition: all $duration $timing;
    -moz-transition: all $duration $timing;
    -o-transition: all $duration $timing;
    transition: all $duration $timing;
}
