// Colors
$white: #F5F5F5;
$light-gray: #F1F1F1;
$middle-gray: #D5D5D5;
$dark-gray: #999999;
$dark-dark-gray: #5a5a5a;
$black: #191919;
$dark-blue: #0001ee;
$blue: #224B7A;
$blue-light: #2873C9;
$purple-dark: #0F0632;
$purple: #200E66;
$purple-light-light: #F5F7FD;
$orange: #FFA50A;
$green: #59D90B;

// Colors for text
$subtext: #AFAFAF;

// Gradients
$gradient-purple: linear-gradient(98deg, #0F0632 0%, #200E66 100%);

// Breakpoints
$breakpoint-desktop: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-phone: 480px;
