// Colors
$light-gray: #F1F1F1;
$middle-gray: #D5D5D5;
$dark-gray: #999999;
$dark-dark-gray: #5a5a5a;
$black: #191919;
$dark-blue: #0001ee;
$blue-light: #2873C9;
$purple-dark: #0F0632;
$purple: #200E66;

// Gradients
$gradient-purple: linear-gradient(98deg, #0F0632 0%, #200E66 100%);

// Breakpoints
$breakpoint-desktop: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-phone: 480px;
