@import "../../utils/scss/variables";
@import "../../utils/scss/mixins";

.header {
  height: 54px;
  line-height: 50px;
  background-color: white;
  padding: 0;

  &__logo {
    height: 63%;
  }

  &__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 960px;
    margin: auto;
    justify-content: space-between;
  }

  &__search {
    width: 40%;
  }

  &__link {
    height: 100%;
  }

  &__side_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
  }

  &__notification_badge_wrapper {
    display: flex;
    cursor: pointer;
  }

  &__notification_icon {
    font-size: 2em;
  }

  &__link_old {
    margin: 0 10px;
    color: $dark-gray;
    text-decoration: none;
    font-size: 15px;
    @include transition(0.2s, ease-in-out);

    &:hover {
      color: $black;
    }

    &:active {
      color: $black;
    }
  }

  &__avatar {
    height: 35px;
    margin: 0 35px;

    & img {
      width: 35px;
      border-radius: 50%;
    }
  }
}
