@import "../../utils/variables";

.header {
  height: 53px;
  line-height: 50px;
  background-color: white;

  &__link {
    margin: 0 10px;
    color: $dark-gray;
    text-decoration: none;
    font-size: 15px;
    @include transition(0.2s, ease-in-out);

    &:hover {
      color: $black;
    }

    &:active {
      color: $black;
    }
  }

  &__avatar {
    height: 35px;
    margin: 0 35px;

    & img {
      width: 35px;
      border-radius: 50%;
    }
  }
}
