@import '../../utils/scss/variables';
@import '../../utils/scss/extends';

.base-page {
  background-color: $white;
  min-width: 100vw;
  min-height: 100vh;

  &__content {
    @extend %container;
    padding: 20px 0;
    min-height: calc(100vh - 54px - 54px); // heights of header and footer
    display: flex;
    justify-content: space-between;
  }

  &__aside {
    width: 14%;
  }

  &__main {
    width: 83%;
  }
}
