.base-page {
  background-color: #F5F5F5;
  height: 100vh;

  &__content {
    margin: 32px auto;
    border-radius: 2px;
    padding: 32px 64px;
    background-color: #FFFFFF;
    width: 960px;
  }

}
