.person-table {
  width: 80%;
  border-collapse: collapse;

  &, & td, & th {
    text-align: left;
    padding: 15px;
    border: 1px solid #ddd;
  }

  & th {
    &:first-child {
      width: 45%;
    }
    &:nth-child(2) {
      width: 45%;
    }
    &:last-child {
      width: 10%;
    }
  }
}
