@import "../../utils/scss/variables";
@import "../../utils/scss/extends";
@import '../Inputs/style';

.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $gradient-purple;
  padding: 50px 0;

  &__container {
    @extend %container;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: flex-start;
  }

  &__item {
    flex: 1;

    &_main {
      margin: 0 40px;
      flex: 2;
      display: flex;
      flex-flow: row;
    }
  }

  &__links {
    display: flex;
    flex-flow: column;
    margin-left: 30px;

    &:first-child {
      margin-left: 0;
    }
  }

  &__link {
    color: $dark-gray;
    margin-bottom: 10px;

    &_header {
      color: $light-gray;
      margin-bottom: 20px;
      font-weight: 100;
    }

    &:hover {
      color: $middle-gray;
    }
  }

  &__form {
    display: flex;
    flex-flow: column;

    &__item {
      margin: 20px 0 0 0;
    }
  }

  &__title {
    color: white;
    margin: 0;
  }

  &__input {
    @extend .input;
    background-color: transparent;
    border: 0.5px solid grey;
    color: white;

    &.input__filled {
      border-color: white;
    }

    &:hover {
      border-color: white;
    }
  }

  &__helper {
    @extend %subtext;
    color: white;
  }
}
