@import "../../utils/scss/variables";
@import "../../utils/scss/extends";
@import '../Inputs/style';

.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $gradient-purple;
  padding: 50px 0;

  &__container {
    @extend %container;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: flex-start;
  }

  &__item {
    width: 33%;
  }

  &__title {
    color: white;
  }

  &__input {
    @extend .input;
    background-color: transparent;
    border: 0.5px solid grey;
    color: white;

    &.input__filled {
      border-color: white;
    }

    &:hover {
      border-color: white;
    }
  }

  &__helper {
    @extend %subtext;
    color: white;
    margin-top: 10px;
  }
}
