.meeting {
  &__section {
    width: 100%;

    &-center {
      width: 100%;
      display: flex;
      flex-flow: column;
      justify-content: stretch;
      align-items: center;
    }
  }

  &__results {
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    justify-content: stretch;
  }

  &__result {
    width: 20%;
    height: 140px;
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

  &__title {
    text-align: center;
  }

  &__score {
    width: 40%;
    display: flex;
    justify-content: center;
  }
}
