@import '../../utils/variables';

.setups-list {
  max-width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;

  & .setups-list-item {
    margin: 5px;
  }
}
