@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap&subset=cyrillic');
@import '~antd/dist/antd.css';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#application {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
}

.page {
  display: flex;
  flex-flow: column;
  align-items: center;
  flex: 1;
}
