@import '../../utils/scss/mixins';
@import '../../utils/scss/extends';
@import '../../utils/scss/variables';

.mobile_placeholder {
  &__col {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__icon {
    width: 80%;
    max-width: 150px;
    padding-bottom: 1rem;
  }

  &__logo {
    height: 60px;
    padding-top: 12px;
  }

  &__text {
    text-align: center;
  }
}
