@import "../../utils/variables";

.person-table-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
  cursor: pointer;

  &__icon {
    width: 31px;
    height: 31px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #19191B;
    border-radius: 4px;
    font-size: 30px;
  }

  &__label {
    margin-left: 10px;
  }
}
